/* Write your CSS here */
.row-to-icon-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row-to-icon-para {
  display: flex;
  align-items: center;
}
.course-heading-style {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  color: #1e293b;
  line-height: 1.5;
}
.para-clock {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  color: #1e293b;
  margin-left: 4px;
  line-height: 1.3;
}
.course-duration {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  color: #1e293b;
  margin-left: 4px;
}
.para-course-description {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  color: #1e293b;
  margin-left: 4px;
  line-height: 1.5;
}
.li-style {
  list-style-type: none;
  background-color: #e2e8f0;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 10px;
  color: #1e293b;
  margin: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  border-radius: 3px;
  line-height: 2;
}
.ul-style {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
